$color-orange: #f98a09;
.main {
  color: $color-orange;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body {
  padding: 10px;
  background-color: #ccc;
}


h1 {
  text-transform: uppercase;
  color: blue;
}